
.header{
    display:grid;
    grid-template-columns: 10rem 65rem;

    height:10rem;
}

.title{
    background:var(--color-primary);

    text-align: center;
}

.top{
    background:var(--color-primary);

}