.serverInfo{
    display:grid;
    grid-template-columns: repeat(auto-fit, 4rem);
    grid-auto-rows: 4rem;
    place-items:center;
    width:100%;
    height:calc(60vh - 8rem);
    overflow:scroll;
    margin-bottom:1rem;
}