.serverInfo{

    display:grid;
    grid-template-columns: repeat(6, 15rem);
    grid-auto-rows: 15rem;
    place-items:center;

    overflow:scroll;

    box-shadow: 5px 0px 20px var(--color-shadow);
}