
.server{
    width:2em;
    height:2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor:pointer;

    position:relative;
}

.serverStat{
    font-size:.1rem;

    border-radius: 50%;
    width:.55rem;
    height:.55rem;
}

.serverStat.good{
    box-shadow:0px 0px 13px 2px var(--color-success);
    background-color: lightgreen;
}
.serverStat.warning{
    box-shadow:0px 0px 13px 2px yellow;
    background-color: yellow;
}
.serverStat.bad{
    box-shadow:0px 0px 13px 2px lightcoral;
    background-color: lightcoral;
}
.serverStat.disconnect{
    box-shadow:0px 0px 13px 1px gray;
    background-color: gray;
}


