.serverInfo{
    display:grid;
    grid-template-columns: repeat(auto-fit, 2.5rem);
    grid-auto-rows: 2.5rem;
    place-items:center;
    width:100%;
    height:calc(60vh - 3rem);
    overflow:scroll;
    margin-bottom:1rem;
    
    overflow-x: hidden;
}
