@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
:root{
    --color-dark:hsl(252, 30%, 17%);
    --color-light:hsl(252,30%,95%);
    --color-gray:hsl(252,15%,65%);
    --color-primary:#18181B;
    --color-secondary:#26262C;
    --color-success:hsl(120,95%,65%);
    --color-danger:hsl(0,95%,65%);
    --color-black:hsl(252,30%,17%);
    --color-white:hsl(252,100%,100%);
    --color-shadow:rgb(205, 205, 205);
    --border-radius:2rem;
    --card-border-radius:1rem;
    --btn-padding:0.6rem 2rem;
    --search-padding:0.6rem 1rem;
    --card-padding:1rem;

    --sticky-top-left:5.4rem;
    --sticky-top-right:5.4rem;
}


body{
    font-family: 'Poppins', sans-serif;
    color:var(--color-dark);
    background: var(--color-light);
    overflow-x:hidden;
}

*, *::before, *::after{
    margin:0;
    padding:0;
    outline:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
    border:none;
}